<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Login page</title>
    <style>
      #eth {
        background: #f6851b;
        padding: 20px 10px;
        list-style-type: none;
        display: inline-block;
        margin: 0 10px 0 0;
        font-size: 18px;
      }
    </style>
  </head>

  <body>
    <a id="eth" onclick="ethClicked()">Login with Ethereum account</a>

    <!-- <p><%= nonce %></p> -->

    <h3 id="showSignature">signed message:</h3>
  </body>

  <script>
    async function ethClicked() {
      // $("#eth").load("/eth-login");
      let signedMessage;

      if (window.ethereum) {
        window.web3 = new Web3(ethereum);
        try {
          await ethereum.enable();

          console.log(web3.eth.coinbase);
          await web3.personal.sign(
            web3.fromUtf8(
              "You should sign the challege string: '<%=nonce %>' to verify your identity."
            ),
            web3.eth.coinbase,
            function(err, signature) {
              signedMessage = signature;
              console.log(signature);

              $("#showSignature").append(signedMessage);

              const userData = {
                address: web3.eth.coinbase,
                signature: signedMessage
              };

              $.post({
                traditional: true,
                url: "/ethinfo",
                contentType: "application/json",
                data: JSON.stringify(userData),
                dataType: "json",
                success: function(response) {
                  console.log(response);
                }
              });

              // redirect to main page
              window.location = "/profile";
            }
          );
        } catch {
          console.log("Oops some error occured!");
        }
      } else {
        console.log("No Web3 provider detected!");
      }
    }
  </script>
</html>
