<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Main page</title>
  </head>

  <body>
    <h1>Your profile page!</h1>

    <h3>Your Ethereum account is: <%= user %></h3>

    <!-- <a href="/login">Login page</a> -->
  </body>
</html>
